html {
    scroll-behavior: smooth;
}

body {
    color: #b4b4b4;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
.back-wrapper{
    background-image: url(../src/assets/images/world-website.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(10%);
}

header {
    padding: 10px 30px;
}


header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    padding: 80px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .copyright {
    font-size: 14px;
    color: #5b5b5b;
    text-align: center;
}
footer .copyright a {
    color: #6e6c6c;
    transition: all ease-in-out 0.2s;
}
footer .copyright a:hover {
    color: #a2a2a2;
}
footer .copyright:before {
    content: '©';
}

.link-container {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #6e6c6c;
}

.rss-link {
    width: 110px;
    height: 45px;
    background-image: url(../src/assets/icons/rss.svg);
    background-size: contain;
    background-repeat: no-repeat;
    transition: all ease-in-out 0.2s;
}

.github-link {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url(../src/assets/icons/logo-github.svg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all ease-in-out 0.2s;
}


.rss-link:hover,
.github-link:hover {
    transform: scale(1.05);
    filter: brightness(120%);
}


.button-up {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 3px #30c5ff;    
    top: calc(100% - 50px);
    transition: all ease-in-out 0.2s;
}

.button-up:hover {
    border: solid 3px #5ad67d;
    box-shadow: 0 2px 5px 2px #5ad67d;
    transform: translateY(-2px);
}
.button-up:hover.button-up::after,
.button-up:hover.button-up::before {
    background-color: #5ad67d;
}

.button-up::before {
    content: '';
    height: 2px;
    width: 15px;
    border-radius: 2px;
    position: relative;
    left: 9%;
    bottom: 2px;
    transform: rotate(-45deg);
    background-color: #30c5ff;
}

.button-up::after {
    content: '';
    height: 2px;
    width: 15px;
    border-radius: 2px;
    position: relative;
    right: 9%;
    bottom: 2px;
    transform: rotate(45deg);
    background-color: #30c5ff;
}
