@font-face {
	font-family: "Georgia";
	src: url("../../assets/fonts/Georgia-regular.woff") format("woff"),
	url("../../assets/fonts/Georgia-regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	}
@font-face {
	font-family: "Arial";
	src: url("../../assets/fonts/Arial-regular.woff") format("woff"),
	url("../../assets/fonts/Arial-regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	}

html {
	box-sizing: border-box;	
	margin: 0;
	padding: 0;
    scroll-behavior: smooth;
}

*::before, *::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
}

.Header-conteiner {	
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 120px;
	margin: 0 auto;
	background: #FFFFFF;
}

.Header {	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	width: 1200px;
	margin: 0 auto;
}

.Logo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 60px;
}
.Logo h1 {
	height: 35px;
	margin: 0;
	

	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 110%;
	letter-spacing: 0.06em;
	color: #545454;
    transition: all ease-in-out .5s;
}

.Logo:hover h1 {
    filter: brightness(70%);
}

.Logo h3 {
	height: 15px;
	margin-left: 4px;
	margin-top: 10px;
	margin-bottom: 0;

	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.1em;
	color: #292929;
}

.nav_list {	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 443px;
	height: 27px;
}

.nav_item {
	list-style-type: none;
	height: 24px;
    transition: all ease-in-out .1s;
}

.nav_item a {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: #545454;
    transition: all ease-in-out .5s;
}

#pets {
	border-bottom: solid 3px #F1CDB3;    
}

#pets a {
    cursor: default;
    color: #292929;
}



.nav_item a:hover {
	color: #292929;
}

.nav_item:active {
	border-bottom: solid 3px #F1CDB3;
}

.burger {
	display: none;
}

ul {
	margin-left: 0;
	padding-left: 0;
}

.Pets {	
	height: 1342px;
	background: #F6F6F6;
	margin: 0 auto;
}

.Pets-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;	
	position: relative;
	top: 80px;
	width: 1200px;
	height: 1162px;
	margin: auto;
}

.Heading {
	width: 400px;
	height: 90px;
	margin: 0 auto;

	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	text-align: center;
	letter-spacing: 0.06em;
	color: #545454;
}

.card__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-around;
	width: auto;
	height: 930px;
	margin-top: 45px;
}

.card {	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 270px;
	height: 435px;
	background: #FAFAFA;
	border-radius: 9px;
    transition: all ease-in-out .5s;
}

.card:hover {	
	background: #FFFFFF;
	cursor: pointer;
	box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

}

.card:hover .button_secondary {
	background: #FDDCC4;
	cursor: pointer;    
    border: 2px solid #FDDCC4;
}

.card img {
	border-radius: 9px 9px 0px 0px;
}
.card h3 {	
	height: 23px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;

	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.06em;
	text-align: center;
	color: #545454;
}

.button_secondary {	
	display: flex;
	align-items: center;
	justify-content: center;	
	width: 187px;
	height: 52px;
	margin: auto;	
	margin-bottom: 30px;
	border: 2px solid #F1CDB3;
	box-sizing: border-box;
	border-radius: 100px;
	background: none;


	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 130%;	
	letter-spacing: 0.06em;	
	color: #292929;
    transition: all ease-in-out .5s;
}

.Navigation {
	display: flex;
	justify-content: space-between;
	width: 340px;
	height: 52px;
	margin: 0 auto;
	margin-top: 45px;
}

.Navigation button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 52px;
	height: 52px;
	box-sizing: border-box;
	border-radius: 100px;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;	
    transition: all ease-in-out .5s;
}

.nav_button_inactive {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #CDCDCD;
	color: #CDCDCD;
	background: none;
}

.nav_button_1 {
	display: flex;
	align-items: center;
	justify-content: space-around;
	border: none;
	background: #F1CDB3;
	color: #292929
}

.nav_button_active {
	display: flex;
	align-items: center;
	justify-content: space-around;
	border: 2px solid #F1CDB3;
	color: #292929;
	background: none;
}

.nav_button_active:hover {
	border: #F1CDB3;
	background: #F1CDB3;
	cursor: pointer;
}

.Footer {
    display: flex;
	height: 354px;
	margin: 0 auto;
	background: url(../../assets/images/footer-gradient-background.svg);
	background-size: cover;
}

.Footer__conteiner {
	margin: auto;
	margin-top: 40px;
	margin-bottom: 0px;
	height: 310px;
	width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.Footer-content {
	width: 740px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.Contacts {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 282px;
	height: 234px;
	margin-top: 16px;
}

.Title {	
	width: 282px;
	height: 90px;
	margin-top: 0;
	margin-bottom: 0px;

	font-family: 'Georgia'; 
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #FFFFFF;
}

.Location {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 302px;
	height: 234px;
	margin-top: 16px;
}

.Footer a {
	height: 23px;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	vertical-align: middle;
	color:#F1CDB3;
    transition: all ease-in-out .5s;
}

.Footer a:hover {
    filter: brightness(120%);
}

.Mail {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 32px;
	width: 251px;
	margin-top: 40px;
	margin-bottom: 0px;
}

.Phone {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 32px;
	width: 240px;
	margin-top: 45px;
	margin-bottom: 4px;
	vertical-align: middle;
}

.Boston {
	margin-top: 34px;
	margin-bottom: 0px;
	vertical-align: middle;
}

.London {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 32px;
	width: 270px;
	margin-top: 32px;
	margin-bottom: 4px;
	vertical-align: middle;
}


.Footer-link:hover  img {
    filter: brightness(120%);
}

.Footer a img {
	float: left;
	margin-right: 20px;
	vertical-align: middle;
    transition: all ease-in-out .5s;
}


.footer-puppy {
	width: 300px;
	height: 310px;
}

@media (max-width:1279px) {
	.wrapper {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
	}

	.Header {
		width: 100%;
		margin-left: 30px;
		margin-right: 30px;
	}

	.Pets {
		height: 1733px;
		display: flex;
		margin: 0 auto;
	}

	.Pets-content {
		position: static;
		height: 1603px;
		margin-top: 60px;
		margin-left: 30px;
		margin-right: 30px;
	}

	.Pets-content .Heading {
		margin-top: 20px;
		margin-bottom: 0px;
	}

	.card__container {
		justify-content: space-between;
		align-content: space-between;
		height: 1365px;
		
		margin-top: 30px;
		margin-right: 9%;
		margin-left: 9%;
	}
	
	.card {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.card:nth-child(7), .card:nth-child(8) {
		display: none;
	}

	.Navigation {
		margin-top: 40px;
		margin-bottom: 6px;
	}
	
	.Footer {
		width: 100%;
		height: 639px;
		top: 1853px;
	}

	.Footer__conteiner {
		margin-top: 30px;
		height: auto;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: space-between;
	}

	.Footer-content {
		display: flex;
		justify-content: space-around;
		width: 100%;
		margin: 0 auto;
		height: auto;
	}

	.Contacts {
		margin-top: 0px;
		margin-left: 4.4%;
	}
	
	.Location {
		margin-top: 0px;
		margin-right: 4.7%;
	}

	.footer-puppy {
		margin: 0 auto;
	}

	.modal_window_opened {
		width: 630px;
		height: 350px;
	}
	
	.close_button {
		left: 621px;
	}
	
	.modal_window-img {
		width: 350px;
		height: 350px;
	}
	
	.modal_window-content {
		width: 260px;
		height: 303px;
		margin: 10px 9px 37px 11px;
	}

	.modal_window-description {
		font-size: 13px;
		margin: 20px 0px;
	}
	.modal_window-spec {
		gap: 5px;
	}
}

	@media (max-width:767px) {

		.Header {
			margin-left: 20px;
			margin-right: 20px;

		}
	
		.burger {
			z-index: 100;
			position: absolute;
			right: 22px;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 30px;
			height: 22px;
			margin-right: 0px;
			transition: all .5s ease-in-out;
		}
	
		.burger_active {
			transition: all .5s ease-in-out;
			transform: rotate(90deg);
		}	
	
		.burger div {
			height: 2px;
			background: #000000;
		}

		
	
		.Nav__menu {
			width: 0;
			overflow-x: hidden;
			background: rgba(41, 41, 41, 0.6);
		}
	
		
		@keyframes slide-in {
			from {
			  right: -320px;
			}	  
			to {
			  right: 0px; 
			}
		  }
	
		.slide-in {
			animation: slide-in .5s;
		}
	
		.menu-open {
			position: fixed;
			top: -30px;
			left: -30px;
			overflow: auto;
			height: calc(100vh + 30px);
			width: 100vw;
			background: rgba(41, 41, 41, 0.6);
		}	
	
		.nav_list {
			position: fixed; 
			top: 0px;
			right: -320px;
			margin: 0;
			padding: 0;
			width: 320px;
			height: 100vh;
			display: flex;
			flex-wrap: nowrap;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 40px;
			transition: .5s;
	
		}
	
		.list-open {
			position: fixed; 
			top: 0px;
			right: 0px;
			margin: 0;
			padding: 0;
			width: 320px;
			height: 100vh;
			display: flex;
			flex-wrap: nowrap;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 40px;
			background: #FFFFFF;
			animation: slide-in .5s;
		}	
	
		
	
		.nav_item {
			height: 54px;
			margin: 0 auto;
		}
	
		.nav_item a {
			font-size: 32px;
		}	

		.Pets {
			height: 1649px;
		}

		.Pets-content {
			width: 300px;
			height: 1565px;
			margin: 42px auto;
		}

		.Pets-content .Heading {
			width: 300px;
			height: 64px;
			font-size: 25px;
			text-align: center;
			margin: 0 auto;
		}

		.card__container {
			width: 270px;
			height: 1365px;
			flex-direction: column;
			justify-content: space-between;
			row-gap: 30px;
			margin: 42px auto;
		}

		.card:nth-child(4), .card:nth-child(5), .card:nth-child(6), .card:nth-child(7), .card:nth-child(8) {
			display: none;
		}

		.Navigation {
			width: 300px;
			margin: 0 auto;
		}

		.Footer {
			width: 100%;
			height: 809px;
			top: 1769px;
		}
		
		.Footer__conteiner {
			margin-top: 30px;
			width: 300px;
			height: 779px;
			display: flex;
			flex-direction: column;
			align-items: space-between;
		}
	
		.footer-puppy {
			width: 260px;
			height: 269px;	
			margin: 0 auto;
		}
	
		.footer-puppy img {
			width: 100%;
			height: 100%;
		}
	
		.Footer-content {
			display: flex;
			justify-content: space-around;		
			margin: 0 auto;
			height: 470px;
		}
	
		.Contacts {
			width: 278px;
			height: 208px;
			margin: 0 auto;
		}
	
		.Mail {
			display: flex;
			justify-content: space-between;
			align-items: baseline;
			height: 32px;
			margin: 20px auto 0px;
		}
	
		.Phone {
			display: flex;
			justify-content: space-between;
			align-items: baseline;
			height: 32px;
			margin: 40px auto 0px;
		}
	
		.Location {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 300px;
			height: 222px;
			margin: 40px auto;
		}
	
		.Boston {
			width: 300px;
			height: 46px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: auto;
			margin-bottom: 13px;
		}
	
		.London {
			width: 300px;
			height: 32px;
			display: flex;
			align-items: baseline;
			justify-content: flex-start;
			margin: 40px auto 0px;
		}
	
		.Title {
			font-size: 25px;
			text-align: center;
			margin: 0 auto;
		}

		
	.modal_window_opened {
		width: 240px;
		height: auto;
		max-height: 400px;
		align-items: stretch;
		justify-content: space-between;
		
	}
	
	.close_button {
		left: 218px;
	}
	
	.modal_window-img {
		display: none;
	}

	.modal_window-content {
		width: 220px;
	}

	.modal_window-name {
		align-self: center;
		text-align: center;
	}

	 .modal_window-breed {
		
		align-self: center;
		text-align: center;
		align-items: center;
	}

	.modal_window-description {
		width: 220px;
		text-align: justify;
	}
}

		
	
	
	