
* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
  background: gray;
  margin: auto;
  user-select: none;
}

.header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  /* width: 500px; */
  font-size: 30px;
  border: solid 1px red;
}

.new-game-btn {
  font-size: 16;

  height: 30px;
  /* width: 80px; */
  padding: 5px;
  background: yellow;
}

.cell {
  color: transparent;
  text-align: center;
  line-height: 25px;
  font-weight: 800;
  background: rgb(39, 163, 27);
  border-top: solid 3px rgb(149, 231, 141);
  border-left: solid 3px rgb(149, 231, 141);
  border-bottom: solid 3px rgb(17, 108, 9);
  border-right: solid 3px rgb(17, 108, 9);
  transition: all ease-in-out .2s; 
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.cell_opened {
  background: rgb(21, 94, 14);
  border: solid 1px rgb(10, 75, 4);
  color: black;
}

.row {
  display: flex;
  margin: auto;
}

/* .mine-field {
  border-top: solid 3px rgb(78, 78, 78);
  border-left: solid 3px rgb(78, 78, 78);
  margin: auto;
} */

.cell_flaged {
  border: none;
  background-image: url(flag.svg);
  background-size: cover;
}
 .exploded{
  background: red;
 }
