.header{
  color: red;
  background: blueviolet;
  width: 800px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
}

.some-class {
  width: 400px;
  height: 500px;
  background: yellow;
  color: red;
}