.level-viewer {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  width: 15%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 85%;
  background: rgb(26, 25, 25);
}

.level-viewer__title {
  color: aqua;
}